.haut{
    
    background-color: blue;
    padding: 50px;
}
.cote-haut{
    float: left;
    background-color: red;
    height:525px;
    width: 150px;
    margin-left: 0px;

}
.cote-bas{
    float: left;
    background-color: black;
    height:525px;
    width: 150px;
    margin-top: 525px;
    margin-left: -150px;


}
.centre{
    background-color: #ffeb3b;
    padding: 400px;
    margin-left: 150px;
    height: 250px;

}
.rouge{
    text-align: center;
    color: red;
}
.bleu{
    text-align: center;
    color: blue;
}
.bas{
    background-color: blueviolet;
    padding: 50px;
}
td{
    color: green;
    font-size: 15px;
}
.bleu{
    color: blue;
}